body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 50px;
    background-color: rgb(59, 59, 59);
}

/* Estilos de la cabecera*/

a{
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-size: 25px;
}

header{
    
    background-color: rgb(198, 198, 198);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 5px;
    height: 18vh;
    box-sizing: border-box
}

#logo{
    width: 15%;
    justify-content:center;
    align-items: center;
    margin-left: 3%;
}

#logo img{
    height: 200px;
    width: 200px;
}

.navegador{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lista1{
    width: 50%;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 0px;
    list-style: none;
    padding: 0%;
    align-items: center;
}

#lista2{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
    margin-right: 5%;
    list-style: none;
    padding: 0%;
    align-items: center;
}

.separador{
    font-family: bold;
    font-size: 30px;
}

/*aca termina el header*/

/* Empieza Main */
main{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1500px;
    padding: 0px;
    justify-content: space-between;
}

.colizq{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(198, 198, 198);
    width: 800px;
    height: max-content;
    
}

.card{
    width: 380px;
    margin: 10px;
}

.card img{
    width: 380px;
}

.card button{
    background-color:rgb(59, 59, 59);
    color: rgb(198, 198, 198);
}

#aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    /*background-color: rgb(175, 249, 139);*/
    width: 570px;
    height: max-content;
    margin-left: 25px;;
}

.tituloAside{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: rgb(198, 198, 198);
    height: max-content;
    justify-content: center;
}

#tutoriales{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
}

.reparacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(198, 198, 198);
    margin-bottom: 3px;
}

#publi{
    margin-top: 15px;
}

.publicidades{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(198, 198, 198);
    margin-top: 10px;
}

.ad{
    margin: 5px;
    align-self: center;
}

#bestseller{
    width: 800px;
    text-align: center;
    font-size: 30px;
    height: 10px;
}

/*CSS LOGIN*/
#h1-login {
    font-size: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#main-login {
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    width: 25vw;
    height: 65vh;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 20px; 
}

input[type="email"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #111010;
    font-size: 20px;
    margin-bottom: 25px;
    background-color: #ccc;
    width: 100%; 
}

input[type="password"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #111010;
    font-size: 20px;
    margin-bottom: 25px;
    background-color: #ccc;
    width: 100%;
}

button[ type="submit"] {
    background-color: black;
    color: aliceblue;
    width: 100%; 
    font-size: 20px;
    padding: 10px; 
    border: none;
    cursor: pointer;
}

input[type="checkbox"]{
    margin-top: 25px;
    align-self:  center;
}


#signup {
    color: black;
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}
