body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: whitesmoke;
    margin: 0px;
}

/* Cabecera Desktop*/

#buscadorYnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(59, 59, 59);
}

header {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

#logo img {
    height: 250px;
    width: 250px;
}

#lista2 {
    display: flex;
    font-size: 16px;
}

#lista2 li {
    padding-right: 10px;
    list-style: none;
}

ul {
    padding-left: 0px;
}

.separador {
    font-size: 14px;
}

input[type="text"] {

    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    background-color: whitesmoke;
    width: 80%;
    text-align: left;
}

/* Categorias barra lateral desktop*/
#categorias {
    background-color: whitesmoke;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#lista1 li {
    display: flex;
    padding-bottom: 100px;
    padding-top: 70px;
    justify-content: center;
    font-size: 25px;
}

/*FOOTER*/
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: whitesmoke;
    width: 100%;
    justify-content: space-between;
    border-top: 1px black solid;
}

#logoFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

#logoFooter img {
    align-self: center;
    height: 100px;
    width: 100px;
}

#footerNombres {
    text-align: center;
}

#redes {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: center;

}

#redes h2 {
    font-size: 30px;
}

#redes ul {
    font-size: 20px;
}

#listaRedes {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#listaRedes li {
    margin-bottom: 25px;
}

#newsletter {
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}

/* Estilos de la cabecera Mobile*/
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 90vh;
    }

    nav {
        height: 10vh;
    }

    #logo {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    #lista2 {
        order: 2;
        width: 50vw;
        justify-content: center;
        font-size: 15px;
        padding-left: 30px;
        box-sizing: border-box;
    }

    #buscador {
        order: 1;
        width: 50vw;
        display: flex;
        justify-content: center;
        padding-left: 10px;
        box-sizing: border-box;
    }

    input[type="text"] {
        width: 90%;
        height: 15px;
        text-align: center;
        background-color: whitesmoke;
    }

    /*Barra lateral mobile*/
    #categorias {
        background-color: whitesmoke;
        width: 100vw;
        height: 10vh;
    }

    #lista1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
        margin-top: 0px;
    }

    #lista1 li {
        padding: 0px;
        padding-top: 0px;
        display: flex;

        
    }

    /*Footer mobile*/
    .footer {
        flex-direction: row;
        width: 100%;
        height: 100vh;
        justify-content: center;
    }

    #logoFooter {
        margin-left: 0px;
        height: 50vh;
        width: 50%;
        align-items: center;

    }

    #logoFooter img {
        height: 150px;
        width: 150px;
    }

    #footerNombres h3 {
        margin-top: 0px;
    }

    #redes {
        margin-left: 0px;
        width: 50%;
        height: 50vh;
        justify-content: center;
    }

    #redes h2 {
        font-size: 20px;
    }

    #redes ul {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        text-align: center;
        margin-right: 0px;
    }

    #newsletter input[type="email"] {
        text-align: center;
        width: 70%;
    }

}

/* Index-Desktop*/
#mainHome {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    padding: 0px;
    box-sizing: border-box;
}

.productosHome {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-top: 15px;
    box-sizing: border-box;
}

#bestSeller {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 15px;
    background-color: whitesmoke;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 15%;
    margin: 1%;
}

.bt-mas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: none;

}

.nomProd {
    width: 100%;
}

.card img {
    width: 100%;
}


#Recomendados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 15px;
    background-color: whitesmoke;
    width: 100%;
}

#titBestseller {
    width: 87vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 10px;
}

#noresults {
    width: 87vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 10px;
    display: none;
}

/* Estilos index mobile*/
@media (max-width: 768px) {
    #mainHome {
        width: 100%;
    }

    .productosHome {
        margin-right: 0px;
        margin-top: 0px;
        width: 100%;
    }

    #bestSeller {
        width: 100%;
    }

    #titBestseller {

        text-align: center;
        width: 100%;

    }

    .card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        margin-bottom: 10px;
    }

    .card img {
        max-width: 100%;
        height: auto;
    }

    .bt-mas {
        width: 80%;
    }

    #Recomendados {
        width: 100%;
    }

}

/*LOGIN Desktop*/
#main-forms {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
    padding-right: 200px;
}

#h1-forms {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    justify-content: center;
    align-self: center;
    width: 80%;
}


input[type="email"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #111010;
    font-size: 20px;
    margin-bottom: 25px;
    background-color: whitesmoke;
    width: 90%;
    text-align: left;
}

input[type="password"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #111010;
    font-size: 20px;
    margin-bottom: 25px;
    background-color: whitesmoke;
    width: 90%;
}

button[ type="submit"] {
    background-color: black;
    color: aliceblue;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;

}

input[type="radio"] {
    margin-bottom: 20px;

}

input[type="checkbox"] {
    margin-top: 25px;
    align-self: center;
    margin-bottom: 10%;
}


#signup {
    color: black;
    font-size: 20px;
    text-align: center;
}

#login {
    color: black;
    font-size: 20px;
    text-align: center;
}


/*LOGIN Mobile*/
@media (max-width: 768px) {

    #h1-forms {
        font-size: 38px;
        padding-bottom: 50px;
        text-align: center;
    }

    #main-forms {

        width: 100%;
        height: 100vh;
        padding-right: 0px;
    }
}


/* Estilos Product */

#mainProducto {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    padding: 0px;
    justify-content: space-between;
    box-sizing: border-box;

}

#detalleProducto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 87vw;
    align-items: center;
}

#fotoProduct img {
    height: 600px;
    width: auto;
}

#descProduct {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

#tituloProduct {
    text-align: center;
    font-size: 300%;
    width: 100%;

}

#precioProduct {
    font-size: 200%;
}

#descripcion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    font-size: 150%;
    text-align: center;
}

#datosProduct {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.datos {
    width: 100%;
    text-align: center;
    font-size: 120%;
}

.tags {
    width: 50%;
    text-align: center;
    font-size: 130%;
}

#reviews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

}

#separador {
    width: 100%;
}

#tit-reviews {
    font-size: 40px;
    margin: 0%;
}

#rating {
    width: 50%;
    height: 3%;
    font-size: 40px;
    display: flex;
    align-items: center;
}

#rating img {
    height: 35px;
    align-self: center;
}

#comment li {
    font-size: 25px;
    list-style-type: none;
    padding: 10px;
}

#comment img {
    height: 20px;
}

#formProd {
    width: 100%;
}

#cantYReset {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

#label {
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 5px;
}

#btnCompra {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#btnCompra button[type="submit"] {
    width: 31%;
}

#cantidad {
    width: 30%;
    font-size: 15px;
}

#reset {
    width: 15%;
}


/*Product Mobile*/
@media (max-width: 768px) {
    #mainProducto {
        width: 100%;
        justify-content: center;
    }

    #detalleProducto {
        justify-content: center;
        width: 100vw;
    }

    #fotoProduct img {
        height: auto;
        width: 100%;
    }

    #descProduct {
        width: 100vw;
    }

    #tituloProduct {
        font-size: 200%;
    }

    #precioProduct {
        font-size: 180%;
    }

    #descripcion {
        width: 100%;
        font-size: 130%;
        text-align: justify;
        margin: 7px;
    }


    #btnCompra {
        margin-top: 5%;
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    #btnCompra button[type="submit"] {
        width: 82%;
    }

    #cantidad {
        width: 50%;
        font-size: 20px;
        text-align: center;
    }

    #reset {
        width: 30%;
    }
}